/* ==========================================================================
   Selection Highlights
   ========================================================================== */

::-moz-selection {
	background: $selectionColor;
	text-shadow: none;
}

::selection {
	background: $selectionColor;
	text-shadow: none;
}

/* ==========================================================================
   Links
   ========================================================================== */

a,
a:visited {
	color: $jet;
}
a:hover {
	color: darken($jet, 40%);
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1 { }
h2 { }
h3 { }
h4 { }

h1, h2, h3, h4, h5, h6 {
	color: $jet;
}

p {
	color: $jet;
}

blockquote {
}

address {
}

body {
	color: $jet;
}
