/* Text meant only for screen readers. */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
	clip: auto !important;
	background: $light-gray;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	color: $body-text-color;
	display: block;
	font-size: rem-calc(14);
	font-weight: bold;
	height: auto;
	width: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	position: relative;
}

.genesis-skip-link {
	margin: 0;
	li {
		height: 0;
		width: 0;
		list-style: none;
	}
}

:focus {
	color: #333;
	outline: $light-gray solid 1px;
}
