/* ==========================================================================
   Selection Highlights
   ========================================================================== */

::-moz-selection {
	background: $selection-color;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $selection-color;
	color: $white;
	text-shadow: none;
}

/* ==========================================================================
   Links
   ========================================================================== */

a,
a:visited {
	color: $jet;
}
a:hover {
	color: darken($jet, 40%);
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1 { }
h2 { }
h3 { }
h4 { }

h1, h2, h3, h4, h5, h6 {
	color: $jet;
}

p {
	color: $jet;
}

blockquote {
}

address {
}

body {
	color: $jet;
}

// Fix IE7 image scaling
img {
	-ms-interpolation-mode: bicubic;
}

// http://davidwalsh.name/html5-boilerplate
@media print {
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	img {
		max-width: 100% !important;
	}
}
