/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.error404 {
	li {
		margin-bottom: 0.3em;
		padding-bottom: 0.3em;
		list-style-type: none;
	}
}
